<div class="dropdown pull-right admin-dropdown" ng-controller="AdminMenu">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
    Admin
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation" ng-if="makingNewPost() !== true">
      <a role="menuitem"
         tabindex="-1"
         ng-click="newPost()">New post</a>
    </li>

    <li role="presentation" ng-if="$state.is('post') === true && editingPost() !== true && makingNewPost() !== true">
      <a role="menuitem"
         tabindex="-1"
         ui-sref="post({ postId: post.id, edit: true })">Edit post</a>
    </li>

    <li role="presentation" ng-if="$state.is('post') === true && makingNewPost() !== true">
      <a role="menuitem"
         tabindex="-1"
         ng-click="deletePost(post.id)">Delete post</a>
    </li>

    <li role="presentation" ng-if="editingPost() === true || makingNewPost() === true">
      <a role="menuitem"
         tabindex="-1"
         ng-click="savePost(post)">Save post</a>
    </li>

    <li role="presentation" class="divider" ng-if="$state.is('settings') !== true"></li>

    <li role="presentation" ng-if="$state.is('settings') !== true">
      <a role="menuitem" tabindex="-1" ui-sref="settings">Settings</a>
    </li>

    <li role="presentation" class="divider"></li>

    <li role="presentation"><a role="menuitem" ng-click="signOut()" tabindex="-1">Sign out</a></li>
  </ul>
</div>