<div>
  <form class="form-horizontal" role="form" name="newPostForm">
    <div class="form-group">
      <textarea class="form-control"
                rows="20"
                ng-model="postBody"
                placeholder="Post body. Use Markdown."
                id="postBody"
                ng-disabled="globals.loading === true"
                required></textarea>
    </div>

    <div class="form-group">
      <input type="text"
             id="postTitle"
             ng-model="postTitle"
             class="form-control"
             placeholder="Post title"
             ng-disabled="globals.loading === true"
             required>
    </div>

    <div class="alert alert-danger" role="alert" ng-if="errorMessage !== undefined">{{errorMessage}}</div>

    <div class="form-group">
      <button type="button"
              class="btn btn-primary btn-lg btn-block"
              ng-click="submitPost()"
              ng-disabled="globals.loading === true">Submit</button>
    </div>
  </form>
</div>