<div ng-if="verificationResults === true">
  <h3>Do things <small>{{action}}</small></h3>
  <div ui-view>
    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="newPost()">
      Make a new post
    </button>

    <hr>

    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="managePosts()">
      Manage existing posts
    </button>

    <hr>

    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="rebuildPosts()">
      Rebuild posts
    </button>
  </div>
</div>