<div class="dropdown pull-right admin-dropdown" ng-controller="AdminMenu">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
    Admin
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation">
      <a role="menuitem" tabindex="-1" ui-sref="admin.post">New post</a>
    </li>
    <li role="presentation">
      <a role="menuitem"
         tabindex="-1"
         ui-sref="admin.post({ postId: post.id })"
         ng-if="$state.is('post')">Edit post</a>
    </li>
    <li role="presentation">
      <a role="menuitem"
         tabindex="-1"
         ng-click="deletePost(post.id)"
         ng-if="$state.is('post')">Delete post</a>
    </li>

    <li role="presentation" class="divider"></li>

    <li role="presentation"><a role="menuitem" tabindex="-1">Profile settings</a></li>

    <li role="presentation" class="divider"></li>

    <li role="presentation"><a role="menuitem" ng-click="signOut()" tabindex="-1">Sign out</a></li>
  </ul>
</div>