<!DOCTYPE html>
<html ng-controller="Main" lang="en">
<head>
  <title ng-bind="pageTitle.value"></title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

  <!-- fileblock:css css -->
  <!-- endfileblock -->
</head>

<body class="ng-cloak">

<div class="container">
  <div class="header">
    <ng-include ng-if="isAdmin() === true"
                src="'html/admin-menu.html'"></ng-include>

    <a ui-sref="homepage"><h3 class="text-muted">Helium blog</h3></a>
  </div>

  <div class="progress" ng-if="globals.loading">
    <div class="progress-bar progress-bar-striped active" style="width: 100%">
      <span>Loading</span>
    </div>
  </div>

  <div class="row marketing">
    <ui-view></ui-view>
  </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//sdk.amazonaws.com/js/aws-sdk-2.0.15.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js"></script>

<!-- fileblock:js js -->
<!-- endfileblock -->

<script src="//apis.google.com/js/client.js?onload=handleClientLoad"></script>

</body>
</html>